In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

### Load dataset

In [2]:
raw_file = pd.read_excel('Brixx-and-Barley-Long-Beach-New-York.xlsx', index_col = 2)
print('Shape of the dataframe: ', raw_file.shape)
raw_file.head()

Shape of the dataframe:  (979, 3)

,reviewBody,stars,platform
date_posted,,,
04/13/2020,Full on make a buck . Good is ok.,3.0,Google
09/06/2019,Great happy hour food nice service atmosphere ...,2.0,Google
09/29/2018,What can I say about Brixx and Barley? How abo...,5.0,Yelp
01/06/2020,I asked for a vegan burger patty and got MEATB...,2.0,Seamless
10/16/2018,One of the few bars/restaurants that have live...,5.0,Google

### Convert the index to datetimeindex

In [ ]:
raw_file.index = pd.DatetimeIndex(data = raw_file.index)
raw_file.index

### Get average star ratings for each platform for each year

In [ ]:
yerly_grouped_result = raw_file.groupby(by = ['platform', raw_file.index.year]).mean()

In [ ]:
yerly_grouped_result

### All platforms together

In [ ]:
raw_file.groupby(by = [ raw_file.index.year, 'platform']).mean().unstack().plot.bar(figsize = (10,6))
plt.xlabel('Years')
plt.ylabel('Star Ratings')
plt.title(' Average star ratings each year for paltforms ')
plt.show()

### Individual platform ratings

In [ ]:
unique_platforms = raw_file['platform'].unique()

In [ ]:
for index, platform in enumerate(unique_platforms):
    yerly_grouped_result.loc[unique_platforms[index],:].plot()
    plt.title(unique_platforms[index])
    plt.show()

### Visualization of which years and months had the highest and lowest ratings

In [ ]:
min_platform = raw_file.groupby(by = ['platform', raw_file.index.year, raw_file.index.month])['stars'].agg([min])
max_platform = raw_file.groupby(by = ['platform', raw_file.index.year, raw_file.index.month])['stars'].agg([max])

In [ ]:
def platform_min_max_monthwise(min_df, max_df, platform):
    return pd.concat([min_df.loc[platform,:], max_df.loc[platform,:]], axis = 1)

In [ ]:
name_platform = 'Facebook'
yelp_min_max_per_month = platform_min_max_monthwise(min_df = min_platform,
                                                        max_df = max_platform,
                                                        platform = name_platform)
yelp_min_max_per_month.plot(figsize = (10,7))
plt.title('{} min and max ratings per month'.format(name_platform))

In [ ]:
name_platform = 'Yelp'
yelp_min_max_per_month = platform_min_max_monthwise(min_df = min_platform,
                                                        max_df = max_platform,
                                                        platform = name_platform)
yelp_min_max_per_month.plot(figsize = (10,7))
plt.title('{} min and max ratings per month'.format(name_platform))

In [ ]:
name_platform = 'Google'
yelp_min_max_per_month = platform_min_max_monthwise(min_df = min_platform,
                                                        max_df = max_platform,
                                                        platform = name_platform)
yelp_min_max_per_month.plot(figsize = (10,7))
plt.title('{} min and max ratings per month'.format(name_platform))

In [ ]:
name_platform = 'Seamless'
yelp_min_max_per_month = platform_min_max_monthwise(min_df = min_platform,
                                                        max_df = max_platform,
                                                        platform = name_platform)
yelp_min_max_per_month.plot(figsize = (10,7))
plt.title('{} min and max ratings per month'.format(name_platform))

In [ ]:
name_platform = 'Grubhub'
yelp_min_max_per_month = platform_min_max_monthwise(min_df = min_platform,
                                                        max_df = max_platform,
                                                        platform = name_platform)
yelp_min_max_per_month.plot(figsize = (10,7))
plt.title('{} min and max ratings per month'.format(name_platform))